html {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto; /* Center the DIV horizontally */
}

.header, .footer{
  width: 100%;
  position: fixed;
  background: #333;
  padding: 10px 0;
  color: #fff;
}
.header{
  top: 0;
}
.footer{
  bottom: 0;
}

body{
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0px;
}

h1.title {
  margin: 0px;
}

h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}